# Python
*.py[cod]
.venv/
venv/
**pycache**/

# Machine Learning Models
*.h5
*.bin
*.pkl
*.joblib

# Build/Artifacts
*.pyd
*.dll
*.lib
*.so

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
.next
next-env.d.ts

# Production
/build

# Misc
.DS_Store
*.pem
nul
desktop.ini

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev.log
errors.txt

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# IDEs
.vscode
.idea
